$text: #000;
$main: #3c6;

$bodyfontsize: 16px;
$bodyfont: 'Segoe UI', sans-serif;
$containerWidth: 1440px;

@mixin desktop-lg-1600 {
	@media (max-width: 1600px) {
		@content;
	}
}

@mixin desktop-lg-1200 {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin desktop-md {
	@media (max-width: $containerWidth) {
		@content;
	}
}

@mixin tablet-md-1024 {
	@media (max-width: 1024px) {
		@content;
	}
}

@mixin tablet-md-991 {
	@media (max-width: 991px) {
		@content;
	}
}

@mixin tablet-sm-768 {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin mobile-md-640 {
	@media (max-width: 640px) {
		@content;
	}
}

@mixin mobile-sm-480 {
	@media (max-width: 480px) {
		@content;
	}
}
